h3.tabName Marks
.actionBand
  if (userDetails.role != 'user')
    div.button
      a(href= '/json/marks' target='_blank' style="color: lightgrey")
        span.customfont.fontSize2 &#xe800;
        span JSON
  div.button
    a(href= '/logout' style="color: #FE2E2E")
      span.customfont.fontSize2 &#xe805;
      span Logout
if (userDetails.role != 'user')
  select(name="group")
    option(value="#{groups[0].id}" selected) #{groups[0].name}
    - for (var i = 1; i < groups.length; i++)
      option(value="#{groups[i].id}") #{groups[i].name}
  button.btn.btn-primary.customfont(onclick="getGroupMarks()", type="button") &#xe813; Search
else
  button.btn.btn-primary.customfont(onclick="getPersonMarks('#{userDetails.id}')", type="button") &#xe813; Get marks

.tableWrapper
  table#marksTable
    th #
    th mark id
    th name
    th s.name
    th group
    th home/w 1
    th home/w 2
    th control/w 1
    th control/w 2
    tbody
